.pledgeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: -50px;
  text-align: left;
  /* padding: 25px; */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
}
#canvas {
  background-image: url(../../assets/General/backgroundcard.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.content {
  top: 49px;
  left: 60px;
  position: absolute;
}
.downloadImage {
  background-image: url(../../assets/General/background.jpeg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
.mainSiteLink::after {
  content: "";
}

@media screen and (max-width: 768px) {
  .pledgeContainer {
    top: 0px;
  }
}
