@font-face {
    font-family: 'Give You Glory';
    src: local('GiveYouGlory-Regular'), url(./fonts/GiveYouGlory-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Bold';
    src: local('Raleway-Bold'), url(./fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Regular';
    src: local('Raleway-Bold'), url(./fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold Italic';
    src: local('Raleway-SemiBoldItalic'), url(./fonts/Raleway-SemiBoldItalic.ttf) format('truetype');
}

*/ body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}